extends /_base
block append vars
  - title="個別タイトル"
  - description="個別説明"
  - ogpImage="https://dummyimage.com/1200x600/00ff00/0011ff.jpg"
block append styles
block append scripts
  script(src=relRoot+"assets/js/index.js")
block main
  if isPHP
    p これはPHP用
    p
      |1+2=<?php echo 1+2; ?>
  else
    p これはHTML用
    p
      |1+2=?
  .p-dummy-background-images
    +dummy-background-image("image01","イメージ01")
    +dummy-background-image("image02","イメージ02")
    +dummy-background-image("image03","イメージ03")
  .p-dummy-images
    +dummy-image("image01","イメージ01")
    +dummy-image("image02","イメージ02")
    +dummy-image("image03","イメージ03")
  section.p-dummy-section
    h1.p-dummy-section__title ダミータイトル#[br.u-sp-inline]ダミータイトル
    p.p-dummy-section__text
      -for(var i=0;i<100;++i)
        |ダミーテキスト
