extends /_base
block append vars
  - title="個別タイトル"
  - description="個別説明"
  - ogpImage="https://dummyimage.com/1200x600/00ff00/0011ff.jpg"
block append styles
block append scripts
  script(src=relRoot+"assets/js/index.js")
block main
  .p-dummy-background-images
    .p-dummy-background-images__image.p-dummy-background-images__image--image01 イメージ01
    .p-dummy-background-images__image.p-dummy-background-images__image--image02 イメージ02
    .p-dummy-background-images__image.p-dummy-background-images__image--image02 イメージ03
  .p-dummy-images
    img.p-dummy-images__image.p-dummy-images__image--image01(src=relRoot+"assets/img/dummy/dummy-images__image--image01.png" alt="イメージ01")
    img.p-dummy-images__image.p-dummy-images__image--image02(src=relRoot+"assets/img/dummy/dummy-images__image--image02.png" alt="イメージ02")
    img.p-dummy-images__image.p-dummy-images__image--image03(src=relRoot+"assets/img/dummy/dummy-images__image--image03.png" alt="イメージ03")
  section.p-dummy-section
    h1.p-dummy-section__title ダミータイトル#[br.u-sp-inline]ダミータイトル
    p.p-dummy-section__text
      -for(var i=0;i<100;++i)
        |ダミーテキスト
